:root {
  --basic-text-color: #757575;
  --text-color: #212121;
  --accent-color: #2196f3;
  --basic-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --bg-color: #2f303a;
  --text-white-color: #ffffff;
  --card-set-marg: 30px;
}

body {
  background-color: var(--basic-bg-color);
  color: var(--basic-text-color);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* знімаємо маржини з заголовків і абзаців */
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* обнуляція списку */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  marker: none;
}

/* ссилки */
.link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* заголовки*/

.section-title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.title-main {
  visibility: hidden;
}

/* кнопки */
.button {
  display: flex;
  border-radius: 4px;
  margin-top: 0;
  justify-content: center;

  font-family: inherit;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
}

/* хедер */
.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid#ececec;
}
/* логотип */
.logo {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-studio {
  color: #000000;
}
/* логотип футер */

.logo-white {
  color: var(--text-white-color);
}

.logo-bottom {
  margin-bottom: 20px;
  margin-right: 0;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* навигація */
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.auth-nav .link {
  color: var(--basic-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color);
  text-align: center;
}

.hero-title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.primary {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-weight: 700;
  line-height: 1.87;

  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button .primary:hover,
.button .primary:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

/* функції */

.feature-items {
  display: flex;
}

.feature-content:not(:last-child) {
  margin-right: var(--card-set-marg);
  max-width: 270px;
}

.feature-items .title {
  color: var(--text-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* чим ми займаємося */
.section-work {
  padding-top: 0;
}
.work {
  display: flex;
  margin-left: calc(-1 * var(--card-set-marg));
}
.work-items {
  flex-basis: calc(100% / 3 - var(--card-set-marg));
  margin-left: var(--card-set-marg);
}

/* команда */
.team {
  background-color: var(--secondary-bg-color);
}

.team-items {
  display: flex;
  margin-left: calc(-1 * var(--card-set-marg));
}

.items-card {
  flex-basis: calc(100% / 4 - var(--card-set-marg));
  margin-left: var(--card-set-marg);
  overflow: hidden;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-items .title {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-items .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.card-bottom {
  padding-top: var(--card-set-marg);
  padding-bottom: var(--card-set-marg);
}

/* футер */
.footer {
  background-color: var(--bg-color);
  line-height: 1.71;

  padding-top: 60px;
  padding-bottom: 60px;
}
.contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  color: var(--text-white-color);
  text-decoration: none;
  font-style: normal;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* фільтер портфоліо */

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter {
  margin-bottom: 56px;
}

.secondary {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.62;

  padding: 6px 22px;
  border: transparent;
}

.button .secondary:hover,
.button .secondary:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button .secondary.current {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  max-width: 73px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button .secondary .web {
  max-width: 128px;
}
.button .secondary .application {
  max-width: 145px;
}

.button .secondary .desing {
  max-width: 103px;
}
.button .secondary .marketing {
  max-width: 130px;
}

/* картинки портфоліо */

.images-items {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-marg));
  margin-top: calc(-1 * var(--card-set-marg));

  color: var(--basic-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.images-items-title {
  color: var(--text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-set {
  flex-basis: calc(100% / 3 - var(--card-set-marg));
  margin-left: var(--card-set-marg);
  margin-top: var(--card-set-marg);
}

.portfolio-bottom {
  padding: 20px 25px 20px 25px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
